/* Structure */

section {
  width: 100vw;
  padding: 7rem 0;
    &:nth-child(even){
      background-color: $color__section-even;
  }
  &:focus {
    outline: none;
  }
}

.container {
  max-width: 1000px;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.container-small {
  max-width: 800px;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.grayscale-hover {
  &:hover {
    img{
      filter: grayscale(100);
      transition: filter 1s ease;
      &:hover {
        filter: grayscale(0);
      }
    }
  }
}

.box-link {
  text-transform: uppercase;
  padding: .5rem 1rem;
  border: 1px solid $color__link;
  transition: background 1s ease, border 1s ease, color;
  &:hover {
    background: $color__link;
  }
}

.error-404 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hero Section */

.hero {
  height: 300px;
  background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url(../../images/jellyfish-background-mobile.jpg), center;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadein 2s;
  @include tablet {
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url(../../images/jellyfish-background-tablet.jpg), center;
    background-size: cover;
    height: 400px;
  }
  @include desktop {
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url(../../images/jellyfish-background.jpg), center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
  }
  p {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0;
  }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* About Section */

.about {
  ul {
    @include tablet {
      display: flex;
    }
    li {
      width: 100%;
      padding: 1rem;
    }
  }
  img {
    border-radius: 100%;
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
}

/* Projects Section */

.projects {
  .project-list, .filters {
    display: flex;
  }
  .filters {
    max-width: 500px;
    margin: 0 auto;
    justify-content: space-around;
    margin-bottom: 1rem;
    li {
      text-transform: uppercase;
      margin: 0 1rem;
      color: $color__link;
      cursor: pointer;
      transition: color 1s ease;
      &:hover {
        color: $color__link-hover;
      }
    }
    .active {
      color: $color__link-hover;
    }
  }
  .project-list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .project-item {
    position: relative;
    display: none;
    overflow: hidden;
    width: calc(100% - 1rem);
    cursor: pointer;
    img {
      transition: transform .5s ease;
      width: 100%;
    }
    @include tablet {
      width: calc(50% - 1rem);
    }
    @include desktop {
      width: calc(25% - 1rem);
    }
  }
  .project-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.9);
    display: flex;
    opacity: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: opacity 1s ease;
  }
  .project-title-wrap {
    a {
      visibility: hidden;
    }
  }
  .item-expanded {
    img {
      transform: scale(1.1);
    }
    .project-title {
      opacity: 1;
    }
    .project-title-wrap {
      a {
        visibility: visible;
      }
    }
  }
}

/* Client Section */

.clients {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    img {
      margin: 1rem;
    }
  }
}

.contact {
  ul {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  a {
    font-size: 1.5rem;
  }
}

/* Footer */

footer {
  padding: 0 1rem;
  background-color: $color__section-even;
  .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @include tablet {
     justify-content: space-between;
     align-items: center;
    }
  }
  p {
    margin-bottom: 0;
    line-height: 40px;
  }
  .site-info, .social-icons {
    height: 70px;
    width: 100%;
    max-width: 250px;
    p, li {
      line-height: 70px;
    }
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
