/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/


/* Links */

a {
	color: $color__link;
	transition: color 1s ease;
	text-decoration: none;
	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Header */

.site-header {
	height: 60px;
	width: 100vw;
	position: fixed;
	z-index: 1;
	background: transparent;
	transition: height 1s ease, background 1s ease;
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
    padding: 0 1rem;
	}
	a {
		&:hover {
			color: white;
		}
	}
	h2 {
		margin-bottom: 0;
	}
}

.nav-inverse {
	height: 80px;
	background: white;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	a {
		color: $color__link;
		&:hover {
			color: $color__link-hover;
		}
	}
}

/* Menus */

.main-navigation {
	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    padding-top: 80px;
    z-index: -1;
    text-align: center;
    @include tablet {
      position: inherit;
      width: auto;
      height: auto;
      background: transparent;
      padding-top: 0;
      text-align: center;
    }

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: $base__space-unit;
			left: -999rem;
			z-index: 99999;

			ul {
				left: -999rem;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		padding: 1rem;
		text-transform: uppercase;
		&:hover > a,
		&.focus > a {
		}
		@include tablet {
			display: inline-block;
      &:last-child{
        padding-right: 0;
      }
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@include tablet  {
	.hamburger-menu {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}