.project-hero {
  height: 300px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadein 2s;
  @include tablet {
    height: 400px;
  }
  @include desktop {
    height: 100vh;
  }
}
.technology {
  display: flex;
  flex-wrap: wrap;
  li {
    background: $color__link;
    padding: .2rem 1rem;
    white-space: nowrap;
    margin: .5rem;
    border-radius: 20px;
    transition: background 1s ease;
    a {
      color: $color__text-main;
      transition: color 1s ease;
    }
    &:hover {
      background: $color__link-hover;
      a {
        color: $color__link;
      }
    }
  }
}

.summary {
  .cfs-hyperlink {
    display: inline-block;
    margin: 0 1rem 1.5rem 0;
    text-transform: uppercase;
    padding: .5rem 1rem;
    border: 1px solid $color__link;
    transition: background 1s ease, border 1s ease, color;
    &:hover {
      background: $color__link;
    }    
  }
}